#time-container {
    position: relative;                   /*Serve per mettere il contenuto esattamente al centro*/
    width: 200px;
    height: 200px;
}

svg {
    width: 200px;
    height: 200px;
    transform: scaleX(-1) rotate(-90deg);             /*Inizia a muoversi dall'alto*/
}

circle {
    fill: none;                             /*Gli anelli sono vuoti. Stroke width è il suo bordo*/
    stroke-width: 10px;
}

.first-circle {
    stroke: #ce0fbe;
}

#display {
    position: absolute;                    /*Grazie al relative del contenitore è stato possibile mettere il display al centro con absolute*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
}

#second-circle {
    stroke: aqua;
    stroke-dasharray: 565;                      /*lunghezza del cerchio che dovra sparire, deriva dal raggio=90*/
    stroke-dashoffset: 0;                       /*Inzia il movimento dal punto 0 di 565*/
    transition: stroke-dashoffset 1s linear;    /*Rende il movimento fluido, senza sembrerebbe una lancetta di un orologio*/
    stroke-linecap: round;                      /* Arrotonda le estremità, da togliere se non ci piace*/
}

.btn {

}

#nextBtn{

}

.selected{
    color: red;
}

.blink {
    opacity: 50%;
    color: red;
}