@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: white;
}

main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bg.jpg);
  background-attachment: fixed;
}

section {
  display: none;
}

b {
  font-weight: 700;
}

/* classe per dare l'hover pointer ai bottoni etc. */
.hover:hover {
  cursor: pointer;
}

#welcome,
#benchmark,
#results,
#feedback {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

/* classe da associare ai titoli in quanto hanno font e dimensioni diverse */
.titolo {
  font-family: "Outfit", sans-serif;
  line-height: 60px;
  font-size: 60px;
  display: inline;
  margin-bottom: 0;
}

/* colori per titoli secondari es. Instructions della welcome page */
.titoliSecondari {
  color: #c2128d;
  font-weight: bold;
  font-size: 26px;
  margin: 0.5em 0;
}
/* da aggiungere nel header della pagina HTML il tag img con all'interno il logo  */
#logoEpicode {
  width: 10%;
  min-width: 10em;
  position: absolute;
  top: 3em;
  left: 15%;
}

/* css specifico pagina 1 ***************************************************************************************/
#welcome {
  padding: 0 15%;
}

.istruzioni {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 1.5em;
  margin: 1.5em 0;
  width: 100%;
}

.formPromessa {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
}
.formPromessa form {
  font-weight: bold;
  font-size: 11px;
  line-height: 1em;
  vertical-align: middle;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 1.5px solid white;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0px;
  position: relative;
  vertical-align: middle;
  margin-right: 1em;
}

input[type="checkbox"]:checked {
  background-color: #c2128d;
  border-color: #00ffff;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute;
  color: black;
  font-size: 12.5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* fine stili specifici pagina 1 *******************************************************************************/

#welcome {
  display: none;
}

/* css specifico pagina 2 **************************************************************************************/

#benchmark {
  height: 100vh;
  display: flex;
}

#time-container {
  align-self: flex-end;
}

#risposte {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

#risposte div {
  width: 80%;
  text-align: center;
}

#risposte button {
  margin: 0 1em;
}

/* button per la welcome e feedpack page */
.buttonWelcomeFeedback {
  background-color: #00ffff;
  color: black;
  font-weight: bold;
  border: none;
  width: 10em;
  height: 2.8em;
  box-shadow: 0px 0px 18px 2px #00ffff;
}

/* button per le risposte */
.buttonRisposte {
  height: 61px;
  width: 18em;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

/* button risposta selezionata */
.buttonSelezionato {
  height: 61px;
  width: 18em;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(210, 0, 148, 1) 0%,
    rgba(144, 0, 128, 1) 100%
  );
  color: white;
}

#benchmark .buttonWelcomeFeedback {
  margin: 4em 0 3em 0;
}
