@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

body {
  margin: 0;
  background-image: url(./bg.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Inter", sans-serif;
  text-align: center;
}

/*  */

/* da aggiungere nel header della pagina HTML il tag img con all'interno il logo  */
#logoEpicode {
  width: 10%;
  min-width: 10em;
  display: block;
  text-align: start;
  padding: 3em 0 0 10em;
}

/* classe da associare ai titoli in quanto hanno font e dimensioni diverse */
.titolo {
  font-family: "Outfit", sans-serif;
  line-height: 60px;
}

/* colori per titoli secondari es. Instructions della welcome page */
.titoliSecondari {
  color: #c2128d;
  font-weight: bold;
}

.buttonWelcomeFeedback {
  background-color: #00ffff;
  color: black;
  font-weight: bold;
  border: none;
  width: 10em;
  height: 2.8em;
  box-shadow: 0px 0px 18px 2px #00ffff;
}

.buttonRisposte {
  color: white;
  height: 61px;
  width: 18em;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(11px);
}

.buttonSelezionato {
  color: white;
  height: 61px;
  width: 18em;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(210, 0, 148, 1) 0%,
    rgba(144, 0, 128, 1) 100%
  );
}
